@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1552480559027'); /* IE9 */
  src: url('iconfont.eot?t=1552480559027#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALIAAsAAAAABnAAAAJ8AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAp4gRcBNgIkAwgLBgAEIAWEbQc0G8EFyJ6aPAkEEiEKrPenMQIkhBAtW2Z3/zulqlKq77pUhUYhJMKgQGMUwmEsQnWNvj/309dmSOcjhyU5ZFWaLL584PwMSU0DnQcScsIwCDc9OXDICV4EE21eVQMaChxTn0AHyQHdJSIoKjkS8GDXA0U1newnOfmHsQte4HECbRMaeU76R6NQoLDHBeJBkVJQUHArCos1hXrD0iJeoKaZnrxXeI6+H392ooCkltkF5/d9Wej8xEnIS/9L7gICeAhodQ0Za0AhrhvDp4hgNKIdzjEDjpUbfFJVgUkcVS/YX2dnd8EYFDyT0BM9anYCJWmfAfYn3UQa7c7GLz/2svhTos+NbbzjZpOG7XRF+trEg1y4RfNb0enp4tok9OSD29sD+ySQEcqFW+3rnWj8Oz0LHE2+2lr0Hh15Fx0u1C5myIUyQrnwd+AAoHrLZ6SGB8Hj+mFtorz1v6C4gA/1R87qrcAwK2ju3xL8J+HAumKIbWMqmrDRmsxMGpvQ1kYF2D7oZ6pm5KbioWnk1qwN4xmypjlioa6hpmMPdU37aFs1sLpjCEdEaWHFOkDod4Gk1zuyftfEQv1Gzahf1PUHQdttVG/ZsRBKUQ/HlMAsTU9TJWOZzDWLojg3jNK4nuJ5cUSPI3cVHw36AuXYAJrIl5jhTkghIRhl3DJoPzgNdd2iNrdUzAifLITd7Pezpjf5MpYBRY5xKEVAWVTaNEqRYTGxoLVQVPl8GJKM06XwjqI6ZxziXErnVJBPYABxQGEOKnqUV1wTJCGCwFAMZzFQ/WAQ0ukslN08SIUyBB95QtDWzO80Y0MVvu1Vxg/kszJsbQqnW9a+T5lSNqUqgR4AAA==') format('woff2'),
  url('iconfont.woff?t=1552480559027') format('woff'),
  url('iconfont.ttf?t=1552480559027') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1552480559027#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fangdajing:before {
  content: "\e617";
}

